{% layout 'layout.liquid' %}
{% block content %}
<div class="col-mb-4">
  <h1 class="display-4">Car Blog</h1>

</div>
<div class="btn-group btn-group-lg mt-4 blink_me">
  <a href="/users/signup" class="btn btn-outline-light">Sign Up</a>
  <a href="/users/login" class="btn btn-outline-light">Login</a>
</div>
{% endblock %}