{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm" style="width: 30%;">
  <h2>Are you sure you would like to log out?</h2>
  <div class="btn-group">
    <a id="logout" class="btn btn-outline-dark" style="background-color:#395B64;">No, back to the Car-Shop</a>
    <form action="/users/logout?_method=DELETE" method="POST">
      <input class="btn btn-outline-light" type="submit" value="Yes, log me out">
    </form>
  </div>
</div>
{% endblock %}}